// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    margin-top: 40px;
}

input, button {
    transition: all 0.2s ease-in-out;
}

button:hover {
    opacity: 0.9;
}
